html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.container {
  width: 1140px;
  margin: 0 auto; }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    margin: 0 auto; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto; } }

.main-header {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
  z-index: 9999; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none; }

.menu__item {
  padding-right: 20px;
  padding-top: 30px; }

.menu__item a {
  font-family: "OpenSans";
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-size: 18px;
  line-height: 28px; }

.menu__item a:hover {
  color: #1fac9f; }

.top-content {
  width: 100%;
  height: 800px;
  background-blend-mode: multiply;
  background-image: url("../img/main_page.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(121, 121, 121, 0.5);
  margin-top: -51px;
  z-index: 9998; }
  .top-content--patterns {
    background-blend-mode: multiply;
    background-image: url("../img/blueplot.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(121, 121, 121, 0.5); }

.top-content__title {
  font-family: "OpenSans-Bold";
  font-size: 80px;
  line-height: 100px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px black, 0 0 1em #333;
  padding-top: 250px;
  opacity: 1; }

.top-content__description {
  font-family: "OpenSans-Bold";
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px black, 0 0 1em #333; }

.main-content__info {
  font-family: "OpenSans-Bold";
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #000;
  padding-top: 20px; }

.main-content__description {
  font-family: "OpenSans";
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #000;
  margin-bottom: 100px; }

.data__title {
  font-family: "OpenSans-Bold";
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 50px;
  margin-bottom: 60px; }

.data__info {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px; }

.data__sidebar {
  font-family: "OpenSans-Light";
  color: #000;
  font-size: 28px;
  line-height: 1.35;
  border-top: 2px solid #000;
  width: 370px;
  padding: 10px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-top: 10px;
  float: right; }

.data__text {
  font-family: "OpenSans-Light";
  color: #000;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px; }

.results__title {
  font-family: "OpenSans-Bold";
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 30px;
  margin-bottom: 40px; }

.results__line {
  width: 100%;
  height: 150px;
  background: #fff;
  text-align: center; }

.results__line img {
  text-align: center;
  padding-top: 70px; }

.results__all {
  background-color: #fcd3ca; }
  .results__all--second {
    background-color: #dde6e6; }

.results__info {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px; }

.results__sidebar {
  font-family: "OpenSans-Light";
  color: #000;
  font-size: 28px;
  line-height: 1.35;
  border-top: 2px solid #000;
  width: 370px;
  padding: 10px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-top: 30px;
  float: right; }

.results__text {
  font-family: "OpenSans-Light";
  color: #000;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px; }

.materials__card--visual a {
  text-decoration: none;
  cursor: pointer; }

.materials__card--visual a:hover {
  background: rgba(120, 117, 235, 0.9);
  position: absolute;
  width: 1000px;
  margin-left: -0px;
  margin-top: 0px;
  height: 420px;
  opacity: 1;
  color: #fff;
  -webkit-transition: linear 0.6s;
  transition: linear 0.6s;
  border-radius: 4px; }

.materials__card--visual a:hover .materials__about {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.materials__card--visual a:hover .materials__description {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.materials__card--int a {
  text-decoration: none;
  cursor: pointer; }

.materials__card--int a:hover {
  background: rgba(1, 138, 140, 0.9);
  position: absolute;
  width: 1000px;
  margin-left: -0px;
  margin-top: 0px;
  height: 420px;
  opacity: 1;
  color: #fff;
  -webkit-transition: linear 0.6s;
  transition: linear 0.6s;
  border-radius: 4px; }

.materials__card--int a:hover .materials__about {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.materials__card--int a:hover .materials__description {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.materials__title {
  font-family: "OpenSans-Bold";
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 70px;
  margin-bottom: 70px; }

.materials__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.materials__card {
  width: 90%;
  height: 420px;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-bottom: 60px; }
  .materials__card--visual {
    background-image: url("../img/visual.png"); }
  .materials__card--int {
    background-image: url("../img/int.png"); }
  .materials__card--art {
    background-image: url("../img/art.png"); }
  .materials__card--people {
    background-image: url("../img/people.png"); }
  .materials__card--city {
    background-image: url("../img/city.png"); }

.materials__about {
  width: 450px;
  font-family: "OpenSans-Bold";
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-top: 70px; }

.materials__about a {
  width: 450px;
  font-family: "OpenSans-Bold";
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-top: 70px;
  text-decoration: none; }

.materials__description {
  width: 450px;
  font-family: "OpenSans";
  font-size: 23px;
  line-height: 30px;
  color: #000; }

.materials__description a {
  width: 450px;
  font-family: "OpenSans";
  font-size: 23px;
  line-height: 30px;
  color: #000;
  text-decoration: none; }

.materials__card--visual .materials__about {
  font-size: 36px;
  margin-left: 110px; }

.materials__card--visual .materials__description {
  margin-left: 110px; }

.materials__card--visual a {
  margin-left: 430px; }

.materials__card--int .materials__about {
  text-align: right;
  margin-left: 402px; }

.materials__card--int .materials__description {
  text-align: right;
  margin-left: 402px;
  margin-bottom: 40px; }

.materials__card--int a {
  margin-left: 745px; }

.materials__card--art .materials__about {
  margin-left: 110px; }

.materials__card--art .materials__description {
  margin-left: 110px; }

.materials__card--art a {
  margin-left: 350px; }

.materials__card--people .materials__about {
  text-align: right;
  margin-left: 395px; }

.materials__card--people .materials__description {
  text-align: right;
  margin-left: 395px;
  margin-bottom: 40px; }

.materials__card--people a {
  margin-left: 745px; }

.materials__card--city .materials__about {
  margin-left: 110px; }

.materials__card--city .materials__description {
  margin-left: 110px;
  margin-bottom: 40px; }

.materials__card--city a {
  margin-left: 300px; }

.comands__title {
  font-family: "OpenSans-Bold";
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 70px;
  margin-bottom: 70px; }

.comands__info {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px; }

.comands__card {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.comands_img {
  text-align: center; }

.comands_img img {
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 1s;
  transition: all 1s;
  text-align: center; }

.comands_img img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
  /* IE 6-9 */ }

.comands__name {
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 28px;
  text-align: center; }

.comands__description {
  font-family: "OpenSans-Light";
  font-size: 18px;
  line-height: 28px;
  text-align: center; }

.comands__description span {
  display: block; }

.attention {
  margin-top: 70px;
  margin-bottom: 70px; }

.attention__about {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.attention__info {
  font-family: "OpenSans-Light";
  font-size: 18px;
  line-height: 26px;
  color: #333;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.attention__img img {
  width: 150px; }

.colors__title {
  font-family: "OpenSans-Bold";
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 50px;
  margin-bottom: 60px; }

.colors__description {
  width: 80%;
  margin: 0 auto;
  font-family: "OpenSans";
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #000;
  margin-bottom: 100px; }

.colors__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .colors__img--color {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px; }

.left {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px; }

.left__blue {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 30px; }

.left img {
  width: 100%;
  height: auto; }

.right img {
  width: 100%;
  height: auto; }

.colors__all {
  margin-top: 50px;
  margin-bottom: 50px; }

.colors__info {
  width: 80%;
  margin: 0 auto;
  font-family: "OpenSans-Light";
  color: #000;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px; }

.left-block {
  width: 50%;
  margin-top: 0; }

.right-block {
  width: 45%; }

.left-block img {
  height: 645px; }

.right-block img {
  height: 320px; }

.center {
  width: 98%; }

.center img {
  width: 100%;
  height: auto; }

.quote {
  width: 90%;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 50px; }

.quote__title {
  width: 80%;
  margin: 0 auto;
  font-family: "OpenSans-Bold";
  font-size: 32px;
  line-height: 42px;
  text-align: left;
  color: #000;
  margin-top: 20px;
  margin-bottom: 30px; }

.quote__description {
  width: 80%;
  margin: 0 auto;
  font-family: "OpenSans-Light";
  color: #000;
  font-size: 20px;
  line-height: 30px; }

.content {
  margin-bottom: 70px; }

.content__title {
  font-family: "OpenSans-Bold";
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 50px;
  margin-bottom: 60px; }

.content__description {
  width: 80%;
  margin: 0 auto;
  font-family: "OpenSans";
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #000;
  margin-bottom: 100px; }

.content__description span {
  font-family: "OpenSans-Bold-Italic"; }

.content__img {
  margin-bottom: 50px; }

.content__img img {
  width: 100%;
  height: auto; }

.content__info {
  width: 80%;
  margin: 0 auto;
  font-family: "OpenSans-Light";
  color: #000;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px; }

.content__info span {
  font-family: "OpenSans-Bold"; }

.main-footer {
  width: 100%;
  height: 450px;
  background-color: #2a7a75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-footer__about {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px; }

.main-footer__info {
  width: 700px;
  font-family: "OpenSans";
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px; }

.main-footer__attention {
  width: 500px;
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px; }

.main-footer__hashtag {
  width: 500px;
  font-family: "OpenSans";
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px; }

.main-footer__year {
  width: 500px;
  font-family: "OpenSans";
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  margin: 0 auto; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans/opensans.woff2") format("woff2"), url("../fonts/opensans/opensans.woff") format("woff"), url("../fonts/opensans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/opensans/opensanslight.woff2") format("woff2"), url("../fonts/opensans/opensanslight.woff") format("woff"), url("../fonts/opensans/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/opensans/opensansbold.woff2") format("woff2"), url("../fonts/opensans/opensansbold.woff") format("woff"), url("../fonts/opensans/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-Bold-Italic";
  src: url("../fonts/opensans/opensansbolditalic.woff2") format("woff2"), url("../fonts/opensans/opensansbolditalic.woff") format("woff"), url("../fonts/opensans/opensansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
