.colors__title
{
  font-family: $font-family-bold;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 50px;
  margin-bottom: 60px;
}

.colors__description
{
  width: 80%;
  margin: 0 auto;
  font-family: $font-family-light;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 100px;
}

.colors__description a
{
  font-family: $font-family-bold;
  color:#ff8562;
  text-decoration: none;
}

.colors__img
{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  &--color
  {
    justify-content: space-around;
    margin-bottom: 30px;
  }
  &--art
  {
    flex-wrap: wrap;
  }
}

.colors__img--patterns img
{
  border-style: none;
  width: 32%;
  height: 30%;
}


.art__img
{
  display: flex;
  flex-direction: column;
  &--matiss
  {
    justify-content: center;
  }
  &--art
  {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &--people
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &--city
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.art__img--touch
{
  padding-bottom: 80px;
}

.art__img img
{
  width: 100%;
  margin-bottom: 20px;
}

.art__img--art img
{
  width: 370px;
  height: auto;
  margin-bottom: 20px;
}

.art__img--people img
{
  width: 500px;
  height: auto;
  box-shadow: 0px 0px 50px 11px rgba(204, 204, 223, 0.53);
  margin-bottom: 20px;
}

.art__img--people img:hover
{
  cursor: pointer;
  box-shadow: 0px 0px 50px 11px rgba(64, 64, 64, 0.53);
}

.art__img--city img
{
  width: 560px;
  height: auto;
  margin-bottom: 20px;
}

.left
{
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.left__blue
{
  transform: rotate(180deg);
  margin-bottom: 30px;
}

.left img
{
  width: 100%;
  height: auto;
}

.right img
{
  width: 100%;
  height: auto;
}

.colors__all
{
  margin-top: 50px;
  margin-bottom: 50px;
}

.colors__info
{
    width: 80%;
    margin: 0 auto;
    font-family: $font-family-light;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

.left-block
{
    width: 50%;
    margin-top: 0;
}

.right-block
{
  width: 50%;
}

.left-block img
{
  height:auto;
}

.right-block img
{
  height: auto;
}

.center
{
  width: 100%;
}

.center img
{
  width: 100%;
  height: auto;
}

.quote
{
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 70px;
  margin-top: 50px;
}

.quote__attention
{
  width: 90%;
}

.quote__title
{
  width: 80%;
  margin: 0 auto;
  font-family: $font-family-bold;
  font-size: 30px;
  line-height: 42px;
  text-align: left;
  color: #000;
  margin-top: 20px;
  margin-bottom: 30px;
}

.quote__description
{
  width: 80%;
  margin: 0 auto;
  font-family: $font-family-light;
  color: #000;
  font-size: 20px;
  line-height: 30px;
}


/* Zoom */

.zoom {
			display:inline-block;
			position: relative;
		}

		.zoom img {
			display: block;
      width: 1100px;
      height: auto;
      margin: 0 auto;
		}

		.zoom img::selection { background-color: transparent; }

		#ex2 img:hover { cursor: url("../img/grab.cur"), default; }
		#ex2 img:active { cursor: url("../img/grabbed.cur"), default; }

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .colors__img
  {
    width: 80%;
    margin: 0 auto;
  }
  .colors__img img
  {
    width: 80%;
  }

  .colors__img--black
  {
    width: 100%;
  }

  .colors__img--black img
  {
    width: 100%;
  }

  .colors__img--details
  {
    width: 80%;
    margin: 0 auto;
  }
  .colors__img--details img
  {
    width: 100%;
  }

  .art__img--people
  {
    flex-direction: column;
  }

  .people__img
  {
    width: 80%;
    margin: 0 auto;
  }

    .people__img img
    {
      width: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .colors__all {
    margin-top: 20px;
    margin-bottom: 20px;
}

  .colors__title
  {
    font-size: 30px;
    line-height: 40px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .colors__description
  {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .colors__info
  {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
  }
  .colors__img
  {
    width: 90%;
    margin: 0 auto;
  }

  .colors__img img
  {
    width: 90%;
  }


    .colors__img--patterns
    {
      flex-direction: column;
    }


  .colors__img--patterns img
  {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .left-block img {
    height: auto;
    width: 100%;
}

.colors__img--black
{
  width: 100%;
}

.colors__img--black img
{
  width: 100%;
}
.colors__img--details
{
  width: 100%;
  margin: 0 auto;
}
.colors__img--details img
{
  width: 100%;
}

.art__img--art
{
  width: 80%;
  margin: 0 auto;
}

.art__img--art img
{
  width: 100%;
  margin: 0 auto;
}

.art__img--people
{
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.art__img--people img
{
  width: 100%;
  margin: 0 auto;
}

.art__img--city
{
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.art__img--city img
{
  width: 100%;
  margin: 0 auto;
}


  .quote__description {
    width: 80%;
    margin: 0 auto;
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}
}
