.comands__title
{
  font-family: $font-family-bold;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 70px;
  margin-bottom: 70px;
}

.comands__info
{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}

.comands__card
{
  width: 250px;
  display: flex;
  flex-direction: column;
}

.comands_img
{
  text-align: center;
}

.comands_img img
{
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  text-align: center;
}

.comands_img img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

.comands__name
{
  font-family: $font-family-bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.comands__description
{
  font-family: $font-family-light;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.comands__description span
{
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .comands__title
  {
    margin-top: 0;
  }

  .comands__info
  {
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .comands__card
  {
    margin-bottom: 30px;
  }

}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .comands__title {
    font-family: "OpenSans-Bold";
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #000;
    margin-top: 50px;
    margin-bottom: 60px;
}

.comands__info
{
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
}

.comands__card
{
  margin: 0 auto;
  margin-bottom: 30px;
}


.comands__name
{
  font-family: $font-family-bold;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.comands__description
{
  font-family: $font-family-light;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.quote__description {
    width: 80%;
    margin: 0 auto;
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 18px;
    line-height: 30px;
}


}
