.content
{
  margin-bottom: 70px;
}

.content__title
{
  font-family: $font-family-bold;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 50px;
  margin-bottom: 60px;
}

.content__description
{
  width: 80%;
  margin: 0 auto;
  font-family: $font-family-light;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #000;
  margin-bottom: 50px;
}

.content__description span
{
  font-family: $font-family-bold-italic;
}

.content__img
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}


.content__img img
{
  width: 100%;
  height: auto;
}

.content__img--dinamic img
{
  width: 50%;
  height: 100%;
}

.content__img--map
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content__img--map img
{
  padding-bottom: 20px;
}

.content__info
{
    width: 80%;
    margin: 0 auto;
    font-family: $font-family-light;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

.content__info span
{
  font-family: $font-family-bold;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .content
  {
    margin-bottom: 0;
  }

  .content__title
  {
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .content__description
  {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
  }

  .content__info
  {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
  }

  .content__img--dinamic
  {
    flex-direction: column;
  }

  .content__img--dinamic img
  {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
