.data__title
{
  font-family: $font-family-bold;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 50px;
  margin-bottom: 60px;
}

.data__info
{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.data__sidebar
{
    font-family: $font-family-light;
    color: #000;
    font-size: 28px;
    line-height: 1.35;
    border-top: 2px solid #000;
    width: 370px;
    padding: 10px;
    padding-bottom: 20px;
    margin-left:15px;
    margin-top: 10px;
    float: right;

}

.data__text
{
  font-family: $font-family-light;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .data__info {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 30px;
  }

  .data__sidebar {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 24px;
    line-height: 1.35;
    border-top: 2px solid #000;
    width: 300px;
    padding: 10px;
        padding-bottom: 10px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-top: 10px;
    float: right;
}


}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .data__title {
    font-family: "OpenSans-Bold";
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000;
    margin-top: 50px;
    margin-bottom: 60px;
}

.data__sidebar {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 20px;
    line-height: 1.35;
    border-top: 2px solid #000;
    width: 90%;
    padding: 10px;
        padding-bottom: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    float: none;
}

.data__text {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}

.data__info
{
  padding-bottom: 0;
}

}
