.main-content__info
{
  font-family: $font-family-bold;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #000;
  padding-top: 20px;
}

.main-content__description
{
  font-family: $font-family;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #000;
  margin-bottom: 100px;
}
