#reveal1, #reveal2, #reveal3, #reveal4, #reveal5, #reveal6, #reveal7, #reveal8  {
  opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 1s ease-in-out;
			 -moz-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				 -o-transition: all 1s ease-in-out;
						transition: all 1s ease-in-out;
	}
	#reveal1.visible {
    opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}
  	#reveal2.visible {
      opacity: 1;
  		-webkit-transform: none;
  			 -moz-transform: none;
  				-ms-transform: none;
  				 -o-transform: none;
  						transform: none;
  	}

    #reveal3.visible {
      opacity: 1;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }

    #reveal4.visible {
      opacity: 1;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }

    #reveal5.visible {
      opacity: 1;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }

    #reveal6.visible {
      opacity: 1;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }

    #reveal7.visible {
      opacity: 1;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }

    #reveal8.visible {
      opacity: 1;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }




#trigger1
{
  display: none;
}


.main-content__info
{
  width: 80%;
  margin: 0 auto;
  font-family: $font-family-bold;
  font-size: 28px;
  line-height: 42px;
  text-align: left;
  color: #000;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main__all
{
  margin-top: 60px;
}

.main-content__description
{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: $font-family-light;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #000;
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .main-content__info
  {
    width: 80%;
    margin: 0 auto;
    font-family: $font-family-bold;
    font-size: 28px;
    line-height: 42px;
    text-align: left;
    color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main__all
  {
    margin-top: 60px;
  }

  .main-content__description
  {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
      font-family: $font-family-light;
      font-size: 20px;
      line-height: 30px;
      text-align: left;
      color: #000;
      padding-bottom: 30px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .main-content__info {
    width: 90%;
    margin: 0 auto;
    font-family: "OpenSans-Bold";
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-content__description {
  font-family: "OpenSans-Light";
  color: #000;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 20px;
}


}
