.materials__card--visual a
{
  text-decoration: none;
  cursor: pointer;
}

.materials__card--int a
{
  text-decoration: none;
  cursor: pointer;
}


.materials__title
{
  font-family: $font-family-bold;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 70px;
  margin-bottom: 70px;
}


.materials__info
{
  display: flex;
  flex-direction: column;
}

.materials__card
{
  width: 90%;
  height: 420px;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  &--visual
  {
    background-image: url("../img/visual.png");
  }
  &--int
  {
    background-image: url("../img/int.png")
  }
  &--art
  {
    background-image: url("../img/art.png")
  }
  &--people
  {
    background-image: url("../img/people.png")
  }
  &--city
  {
    background-image: url("../img/city.png")
  }
}

.materials__card a
{
  text-decoration: none;
}

.materials__about
{
  width: 450px;
  font-family: $font-family-bold;
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-top: 70px;
}

.materials__about a
{
  width: 450px;
  font-family: $font-family-bold;
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-top: 70px;
  text-decoration: none;
}

.materials__description
{
  width: 450px;
  font-family: $font-family;
  font-size: 23px;
  line-height: 30px;
  color: #000;

}

.materials__description a
{
  width: 450px;
  font-family: $font-family;
  font-size: 23px;
  line-height: 30px;
  color: #000;
  text-decoration: none;

}

.materials__card--visual .materials__about
{
  font-size: 36px;
  margin-left: 110px;
}

.materials__card--visual .materials__description
{
  margin-left: 110px;
}

.materials__card--int .materials__about
{
  text-align: right;
  margin-left: 402px;
}

.materials__card--int .materials__description
{
  text-align: right;
  margin-left: 402px;
  margin-bottom: 40px;
}


.materials__card--art .materials__about
{
  margin-left: 110px;
}

.materials__card--art .materials__description
{
  margin-left: 110px;
}

.materials__card--art a
{
  margin-left: 350px;
}

.materials__card--people .materials__about
{
  text-align: right;
  margin-left: 395px;
}

.materials__card--people .materials__description
{
  text-align: right;
  margin-left: 395px;
  margin-bottom: 40px;
}

.materials__card--city .materials__about
{
  margin-left: 110px;
}

.materials__card--city .materials__description
{
  margin-left: 110px;
  margin-bottom: 40px;
}

.materials__card--city a
{
  margin-left: 300px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .materials__card
  {
    width: 90%;
    height: 350px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 60px;
    &--visual
    {
      background-image: url("../img/visual.png");
    }
    &--int
    {
      background-image: url("../img/int.png")
    }
    &--art
    {
      background-image: url("../img/art.png")
    }
    &--people
    {
      background-image: url("../img/people.png")
    }
    &--city
    {
      background-image: url("../img/city.png")
    }
  }

    .materials__about
    {
      width: auto;
      margin-left: 0;
      font-size: 30px;
      line-height: 40px;
      padding-top: 40px;
    }

    .materials__description
    {
      font-size: 20px;
      line-height: 30px;
      margin-left: 0;
      width: 350px;
    }

    .materials__card--visual .materials__about
    {
      width: 250px;
      margin-left: 40px;
      text-align: left;
      padding-top: 0;
      font-size: 30px;
      line-height: 40px;
    }

      .materials__card--visual .materials__description
      {
        margin-left: 40px;
        text-align: left;
        font-size: 20px;
        line-height: 30px;
      }

      .materials__card--art .materials__about
      {
        margin-left: 40px;
        text-align: left;
        padding-top: 40px;
      }

        .materials__card--art .materials__description
        {
          margin-left: 40px;
          text-align: left;
        }

    .materials__card--int .materials__about
    {
      margin-left: 380px;
      text-align: left;
    }

      .materials__card--int .materials__description
      {
        margin-left: 380px;
        text-align: left;
      }

      .materials__card--int a {
    margin-left: 0px;
}

    .materials__card--people .materials__about
    {
      margin-left: 380px;
      text-align: left;
    }

      .materials__card--people .materials__description
      {
        margin-left: 380px;
        text-align: left;
      }

      .materials__card--city .materials__about
      {
        margin-left: 40px;
        text-align: left;
        padding-top: 40px;
      }

    .materials__card--city .materials__description
        {
          margin-left: 40px;
          text-align: left;
        }


}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .materials__title {
    font-family: "OpenSans-Bold";
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #000;
    margin-top: 20px;
    margin-bottom: 50px;
}

  .materials__card
  {
    max-width: 300px;
    height:130px;
    background-size: contain;
    position: relative;
  }

  .materials__text
  {
    position: absolute;
  }

  .materials__card--int .materials__text
  {
    top:10px;
    left: 150px;
  }

  .materials__card--people .materials__text
  {
    top:10px;
    left: 150px;
  }

  .materials__card--art a
  {
    margin-left: 0;
  }

  .materials__about
  {
    width: auto;
    margin-left: 0;
    font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
  }

  .materials__description
  {
    font-size: 16px;
    line-height: 26px;
    margin-left: 0;
    width: 200px;
  }

  .materials__card--visual .materials__about
  {
    width: auto;
    margin-left: 0;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding-top: 25px;

  }

  .materials__card--visual .materials__description {
      margin-left: 0px;
      text-align: left;
      font-size: 12px;
      line-height: 18px;
      margin-top: 0px;
      width: 200px;
  }

    .materials__card--art .materials__about
    {
      margin-left: 0px;
      text-align: left;
      padding-top: 0px;
      margin: 0 auto;
      margin-top: 20px;
      padding-top: 0;

    }

      .materials__card--art .materials__description
      {
        width: 200px;
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        margin-top: 0px;
        margin-left: 0px;
      }

  .materials__card--int .materials__about
  {
    text-align: left;
    padding-top: 0;
    margin: 0;
  }

    .materials__card--int .materials__description
    {
      text-align: left;
      font-size: 12px;
      line-height: 18px;
      text-align: left;
      width: 150px;
      margin-left: 0;
      margin: 0;
      padding: 0;
      padding-top: 5px;
    }

    .materials__card--int a {
  margin-left: 0px;
}

  .materials__card--people .materials__about
  {
    text-align: left;
    padding-top: 0;
    margin: 0;
  }

    .materials__card--people .materials__description
    {
      text-align: left;
      font-size: 12px;
      line-height: 18px;
      text-align: left;
      width: 150px;
      margin-left: 0;
      margin: 0;
      padding: 0;
      padding-top: 5px;
    }

    .materials__card--city .materials__about
    {
      margin-left: 0px;
      text-align: left;
      padding-top: 0px;
      margin: 0 auto;
      margin-top: 0px;
      padding-top: 0;
    }

  .materials__card--city .materials__description
      {
        width: 65%;
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        margin-top: 0px;
        margin-left: 0px;
      }

      .materials__card--visual a {
    margin-left: 0px;
}


}
