.materials__card
{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 10px;
}


.materials__card a
{
height: 400px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
border-radius: 10px;
background-color: white;
-webkit-box-shadow: 0px 0px 32.8px 7.2px rgba(204, 204, 223, 0.22);
box-shadow: 0px 0px 32.8px 7.2px rgba(204, 204, 223, 0.22);
background-color: #fff;
}

.materials__card--odd a
{
  flex-direction: row-reverse;
}


.material__img
{
flex: 0 0 35%;
max-width: 35%;
background-repeat: no-repeat;
background-position: 72% 50%;
background-size: cover;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.materials__card--odd .material__img
{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.material__info
{
  flex: 0 0 55%;
  max-width: 55%;
  padding-left: 60px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-top: 30px;
}


.materials__card--visual a
{
  text-decoration: none;
  cursor: pointer;
}

.materials__card--int a
{
  text-decoration: none;
  cursor: pointer;
}


.materials__title
{
  font-family: $font-family-bold;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}


.materials__info
{
  display: flex;
  flex-direction: column;
}

.materials__card:hover
{
  box-shadow: 0px 0px 50px 11px rgba(204, 204, 223, 0.53);
  cursor: pointer;
}

.materials__card a
{
  text-decoration: none;
}

.materials__about
{
  width: 450px;
  font-family: $font-family-bold;
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-top: 0px;
  position: relative;
  padding-bottom: 15px;
}


.materials__about a
{
  width: 450px;
  font-family: $font-family-bold;
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-top: 0px;
  text-decoration: none;
}

.materials__description::before
{
  content: "";
  position: absolute;
  width: 105px;
  height: 5px;
  background-color: #000;
  top: -20px;
}

.materials__description--visual::before
{
  background-color: #064aee;
}

.materials__description--int::before
{
  background-color: #00abc5;
}

.materials__description--art::before
{
  background-color: #235cbf;
}

.materials__description--people::before
{
  background-color: #9fa8b3;
}

.materials__description--city::before
{
  background-color: #f1a30e;
}


.materials__description
{
  width: 450px;
  font-family: $font-family-light;
  font-size: 23px;
  line-height: 30px;
  color: #000;
  position: relative;
  padding-top: 15px;

}

.materials__description a
{
  width: 450px;
  font-family: $font-family;
  font-size: 23px;
  line-height: 30px;
  color: #000;
  text-decoration: none;

}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .materials__card
  {
    width: 90%;
    height: 350px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 60px;
  }

    .materials__about
    {
      width: auto;
      margin-left: 0;
      font-size: 30px;
      line-height: 40px;
      padding-top: 40px;
    }

    .materials__description
    {
      font-size: 20px;
      line-height: 30px;
      margin-left: 0;
      width: 350px;
    }

}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .materials__title {
    font-family: "OpenSans-Bold";
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000;
    margin-top: 20px;
    margin-bottom: 50px;
}

  .materials__card
  {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 0px;
    margin-bottom: 20px;
  }

  .material__img
  {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .materials__card--odd .material__img
  {
    border-bottom-right-radius: 0;
  }

  .material__info
  {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .materials__about
  {
    width: 230px;
    font-family: "OpenSans-Bold";
    font-size: 20px;
    line-height: 30px;
    color: #000;
    padding-top: 0px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
  }

  .materials__description {

    width: 200px;
    font-family: "OpenSans-Light";
    font-size: 16px;
    line-height: 25px;
    color: #000;
    position: relative;
    padding-top: 0px;

}


}
