.materials__card--visual a
{
  text-decoration: none;
  cursor: pointer;
}

.materials__card--visual a:hover
{
  background: rgba(120,117,235,0.9);
  position: absolute;
  width: 1000px;
  margin-left: -0px;
  margin-top: 0px;
  height: 420px;
  opacity: 1;
  color: #fff;
  transition: linear 0.7s;
  border-radius: 4px;
}

.materials__card--visual a:hover .materials__about
{
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.materials__card--visual a:hover .materials__description
{
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.materials__card--int a
{
  text-decoration: none;
  cursor: pointer;
}

.materials__card--int a:hover
{
  background: rgba(1,138,140,0.9);
  position: absolute;
  width: 1000px;
  margin-left: -0px;
  margin-top: 0px;
  height: 420px;
  opacity: 1;
  color: #fff;
  transition: linear 0.7s;
  border-radius: 4px;
}

.materials__card--int a:hover .materials__about
{
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.materials__card--int a:hover .materials__description
{
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


.materials__title
{
  font-family: $font-family-bold;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 70px;
  margin-bottom: 70px;
}


.materials__info
{
  display: flex;
  flex-direction: column;
}

.materials__card
{
  width: 90%;
  height: 420px;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  &--visual
  {
    background-image: url("../img/visual.png");
  }
  &--int
  {
    background-image: url("../img/int.png")
  }
  &--art
  {
    background-image: url("../img/art.png")
  }
  &--people
  {
    background-image: url("../img/people.png")
  }
  &--city
  {
    background-image: url("../img/city.png")
  }
}


.materials__about
{
  width: 450px;
  font-family: $font-family-bold;
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-top: 70px;
}

.materials__about a
{
  width: 450px;
  font-family: $font-family-bold;
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-top: 70px;
  text-decoration: none;
}

.materials__description
{
  width: 450px;
  font-family: $font-family;
  font-size: 23px;
  line-height: 30px;
  color: #000;

}

.materials__description a
{
  width: 450px;
  font-family: $font-family;
  font-size: 23px;
  line-height: 30px;
  color: #000;
  text-decoration: none;

}

.materials__card--visual .materials__about
{
  font-size: 36px;
  margin-left: 110px;
}

.materials__card--visual .materials__description
{
  margin-left: 110px;
}

.materials__card--visual a
{
  margin-left: 430px;
}

.materials__card--int .materials__about
{
  text-align: right;
  margin-left: 402px;
}

.materials__card--int .materials__description
{
  text-align: right;
  margin-left: 402px;
  margin-bottom: 40px;
}

.materials__card--int a
{
  margin-left: 745px;
}


.materials__card--art .materials__about
{
  margin-left: 110px;
}

.materials__card--art .materials__description
{
  margin-left: 110px;
}

.materials__card--art a
{
  margin-left: 350px;
}

.materials__card--people .materials__about
{
  text-align: right;
  margin-left: 395px;
}

.materials__card--people .materials__description
{
  text-align: right;
  margin-left: 395px;
  margin-bottom: 40px;
}

.materials__card--people a
{
  margin-left: 745px;
}

.materials__card--city .materials__about
{
  margin-left: 110px;
}

.materials__card--city .materials__description
{
  margin-left: 110px;
  margin-bottom: 40px;
}

.materials__card--city a
{
  margin-left: 300px;
}
