.results__title
{
  font-family: $font-family-bold;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  color: #000;
  margin-top: 30px;
  margin-bottom: 40px;
}

.results__line
{
  width: 100%;
  height: 150px;
  background: #fff;
  text-align: center;
}

.results__line img
{
  text-align: center;
  padding-top: 70px;
}

.results__all
{
  background-color: #fcd3ca;
  &--second
  {
    background-color: #dde6e6;
  }
}

.results__info
{
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.results__sidebar
{
    font-family: $font-family-light;
    color: #000;
    font-size: 28px;
    line-height: 1.35;
    border-top: 2px solid #000;
    width: 370px;
    padding: 10px;
    padding-bottom: 20px;
    margin-left:15px;
    margin-top: 30px;
    float: right;

}

.results__text
{
  font-family: $font-family-light;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {


  .results__sidebar {
      font-family: "OpenSans-Light";
      color: #000;
      font-size: 24px;
      line-height: 1.35;
      border-top: 2px solid #000;
      width: 300px;
      padding: 10px;
          padding-bottom: 10px;
      padding-bottom: 20px;
      margin-left: 15px;
      margin-top: 30px;
      float: right;
  }

}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .results__title {
    font-family: "OpenSans-Bold";
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #000;
    margin-top: 20px;
    margin-bottom: 60px;
}

.results__sidebar {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 20px;
    line-height: 1.35;
    border-top: 2px solid #000;
    width: 80%;
    padding: 10px;
        padding-bottom: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    float: none;
}

.results__text {
    font-family: "OpenSans-Light";
    color: #000;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}

}
