.top-content
{
  width: 100%;
  height: 600px;
  background-blend-mode: multiply;
  background-image: url("../img/main_page.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(121, 121, 121, 0.6);
  margin-top: -51px;
  z-index: 9998;
  &--patterns
  {
    background-blend-mode: multiply;
    background-image: url("../img/blueplot.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(121, 121, 121, 0.6);
  }
  &--interior
  {
    background-blend-mode: multiply;
    background-image: url("../img/int.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(121, 121, 121, 0.7);
  }
  &--art
  {
    background-blend-mode: multiply;
    background-image: url("../img/art.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(121, 121, 121, 0.7);
  }
  &--people
  {
    background-blend-mode: multiply;
    background-image: url("../img/people.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(121, 121, 121, 0.7);
  }
  &--city
  {
    background-blend-mode: multiply;
    background-image: url("../img/city_bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(121, 121, 121, 0.7);
  }
}


.top-content__title
{
  font-family: $font-family-bold;
  font-size: 80px;
  line-height: 100px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px black, 0 0 1em #333;
  padding-top: 250px;
  opacity: 1;
}

.top-content__description
{
  font-family: $font-family-bold;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px black, 0 0 1em #333;
}

.top-content__description span
{
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .top-content {
    width: 100%;
    height: 250px;
    background-blend-mode: multiply;
    background-image: url("../img/main_page.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(121, 121, 121, 0.6);
    margin-top: -25px;
    z-index: 998;
    position: relative;
}

.top-content__title {
    font-family: "OpenSans-Bold";
    font-size: 34px;
    line-height: 44px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 3px black, 0 0 1em #333;
    padding-top: 100px;
    opacity: 1;
}

}
